<form class="order-history">
  <table>
    <thead>
      <tr>
        <th class="display-phone"><b>Order number</b></th>
        <th><b>Date</b></th>
        <th><b>Address</b></th>
        <th><b>Total</b></th>
        <th><b>Order Status</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="display-phone">№ 1</th>
        <th>19.01.2023, 10:40pm</th>
        <th>Lviv,Shevchenka 53</th>
        <th>1550$</th>
        <th>
          <div style="color: green"><span></span> running</div>
        </th>
      </tr>
      <tr>
        <th colspan="3">Pepsi</th>
        <th>1</th>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th class="display-phone">№ 1</th>
        <th>19.01.2023, 10:40pm</th>
        <th>Lviv,Shevchenka 53</th>
        <th>1550$</th>
        <th>
          <div style="color: green"><span></span> running</div>
        </th>
      </tr>
      <tr>
        <th colspan="3">Pepsi</th>
        <th>1</th>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th class="display-phone">№ 1</th>
        <th>19.01.2023, 10:40pm</th>
        <th>Lviv,Shevchenka 53</th>
        <th>1550$</th>
        <th>
          <div style="color: green"><span></span> running</div>
        </th>
      </tr>
      <tr>
        <th colspan="3">Pepsi</th>
        <th>1</th>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th class="display-phone">№ 1</th>
        <th>19.01.2023, 10:40pm</th>
        <th>Lviv,Shevchenka 53</th>
        <th>1550$</th>
        <th>
          <div style="color: green"><span></span> running</div>
        </th>
      </tr>
      <tr>
        <th colspan="3">Pepsi</th>
        <th>1</th>
      </tr>
    </tbody>
  </table>
</form>
